$main-text-color: #232323;
$secondary-text-color: #333333;

$main-backgound-color: #ffffff;
$secondary-backgound-color: #f4f1ec;

$accent-color: #cba134;

$primary-button-color: #232323;
$primary-button-text-color:#ffffff;
$secondary-button-color: #f4f1ec;
$secondary-button-text-color: #333333;


// Deep Blue: #0D1B2A
// Charcoal: #1B263B
// Dark Gray: #415A77
// Medium Gray: #778DA9
// Soft Blue: #E0E1DD